BasedOnStyle: LLVM
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BreakBeforeTemplateCloser: true
Cpp11BracedListStyle: true
PointerAlignment: Left
ReferenceAlignment: Pointer
IndentWidth: 4
ContinuationIndentWidth: 4
NamespaceIndentation: None
BreakTemplateDeclarations: Yes
AccessModifierOffset: -4
